*.class

# Package Files #
*.war
*.ear

# tmp editor files #
*~
*.swp

# local settings #
.DS_Store
user.properties
/classes
/logs
/svnt
/svnww
/TFSt
/TFSww
/P4ww
/P4t
/CVSww
/CVSt
/SVNww
/SVNt
/GITww
/GITt
